apt-xapian-index==0.44
beautifulsoup4==4.3.2
Brlapi==0.5.6
chardet==2.0.1
command-not-found==0.2.44
debtagshw==0.1
defer==1.0.2
eveapi==1.2.6
Flask==0.10.1
Flask-Bootstrap==3.3.2.1
geopy==1.9.1
GnuPGInterface==0.3.2
httplib2==0.7.2
itsdangerous==0.24
Jinja2==2.7.3
jockey==0.9.7
language-selector==0.1
louis==2.3.0
MarkupSafe==0.23
matplotlib==1.1.1rc0
mercurial==2.0.2
numpy==1.9.2
nvidia-common==0.0.0
oauth==1.0.1
onboard==0.97.1
oneconf==0.2.8.1
PAM==0.4.2
pandas==0.15.2
pexpect==2.3
PIL==1.1.7
piston-mini-client==0.7.2
powerline-status==2.0
psycopg2==2.6
pycups==1.9.61
pycurl==7.19.0
pymongo==3.0
pyOpenSSL==0.12
pyparsing==1.5.2
pyserial==2.5
pysmbc==1.0.13
python-apt===0.8.3ubuntu7.3-elementary7-ubuntu12.04.1
python-dateutil==2.4.0
python-debian===0.1.21ubuntu1
python-virtkey==0.60.0
pytz==2014.10
pyxdg==0.19
reportlab==2.5
requests==2.6.0
scikit-learn==0.16.0
scipy==0.15.1
sessioninstaller==0.0.0
simplejson==2.3.2
six==1.9.0
sklearn-pandas==0.0.9
software-center-aptd-plugins==0.0.0
system-service==0.1.6
Theano==0.7.0
Twisted-Core==11.1.0
Twisted-Web==11.1.0
unattended-upgrades==0.1
virtualenv==12.1.1
Werkzeug==0.10.4
xkit==0.0.0
zope.interface==3.6.1
