<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="utf-8">
	    <title>modoc offender database</title>
	    <meta name="viewport" content="width=device-width, initial-scale=1">
	    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>
        <p>Here we go, y'all!</p>


        <table data-url="../app.json" data-height="299" data-sort-name="name" data-sort-order="desc">
            <thead>
        <tr>
            <th data-field="name" data-align="right" data-sortable="true">App Name</th>
            <th data-field="description" data-align="center" data-sortable="true">Description</th>
            <th data-field="repository" data-sortable="true">Repository</th>
            <th data-field="keywords" data-sortable="true">Key Words</th>
        </tr>
    </thead>
</table>

</body>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</html>
